.content {
  position: absolute;
  top: -3rem;
  right: 0;
  width: 12.5rem;
  height: 90%;
  margin-top: 8rem;
  font-size: 0.95rem;
  background-color: rgba(17, 33, 82, 0.9);
  padding: 2.5rem 0;
  border-left: 2px solid rgba(207, 216, 25, 0.5);
}

.accountContent {
  margin: 2rem auto;
  width: 90%;
  height: 85%;
  border: 1px solid rgba(207, 216, 25, 0.5);
  box-shadow: 0 0 0.4rem rgba(207, 216, 25, 0.8);
  background-color: rgb(8, 25, 40);
  color: rgba(235, 197, 61, 0.8);
}

.oracleList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  height: 88%;
  width: 90%;
  margin: 0 auto;

  border: 1px dashed rgba(206, 216, 25, 0.4);
  background-color: #112152;
}

.headText {
  font-size: 0.95rem;
  text-align: center;
  padding: 0.95rem 0 0 0;
  width: max-content;
  margin: 0 auto;
  border-radius: 5%;
  margin-bottom: 1rem;
  position: relative;
}

.listBody {
  text-align: center;
  width: 100%;
  overflow-y: scroll;
  list-style-type: none;
  margin: 0;
  padding: 0.75rem 0 0 0;
}
