.body {
  background-image: url('../pages/img/flight.jpg'); /* Source: iStockPhoto */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* align-items: center; */
  z-index: 0;
}
